<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
    <header><nav>
        <a href="/">Home</a>
        <a href="/product">All Product</a>
        <a href="/myCard">my Card</a>
    </nav></header>
    <main>
        <div class="home">

       
        <select name="brand" placeholder="App brand name"  form="ahmad"> 
           
            <option value="marcelle"> marcelle </option>
            <option value="orly"> orly </option>
            <option value="maybelline"> maybelline </option>
            <option value="revlon"> revlon </option>
            <option value="boosh"> boosh </option>
            <option value="dior"> dior </option>
            <option value="l'oreal"> l'oreal </option>
            <option value="sante"> sante </option>
            <option value="zorah"> zorah </option>
            <option value="benefit"> benefit </option>
        </select>
        <form action="/allProduct" id="ahmad">
              
            <input type="hidden" name="greater" placeholder="greater price">
            <input type="hidden" name="less"  placeholder="less price">
            <button >Get</button>
        
        </form>
    </div>
       
    </main>
    <footer>
        update from Ahmad &copf; 2021
    </footer>
    
</body>
</html>