<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <main>
     <% myData.forEach(element=>{ %>
        <h1><%= element.name %> </h1>
        <h2><%= element.price %> </h2>
        <img src="<%= element.image_link %>" alt="image">
        
        <p><%= element.description %> </p>

     <%}) %>    
    </main>
</body>
</html>